{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [],
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "no-console": 0,
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  }
}
